@font-face {
    font-family: 'NewEdge666-Regular';
    src: url('fonts/NewEdge666-Regular.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'NewEdge666-RegularRounded';
    src: url('fonts/NewEdge666-RegularRounded.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'NewEdge666-UltraLightRounded';
    src: url('fonts/NewEdge666-UltraLightRounded.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'NewEdge666-UltraLightRounded', sans-serif;
    font-size: 18px;
}

header {
    background-color: #0074FF;
    display: flex;
    align-items: center;
}

.header {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.menu-items {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.align-right {
    display: flex;
    align-items: center;
}

.menu {
    width: 100px;
    padding-right: 20px;
}

.menu-base {
    width: 120px;
    padding-right: 20px;
}

.home_header {
    background: url('images/header_back.png') no-repeat center center;
    background-size: cover;
    height: 270px;
}

.ready_to_go {
    margin: 50px 0 50px 50px;
    background: url('images/are_you_ready.png') no-repeat center center;
    background-size: cover;
    height: 140px;
    width: 570px;
}

.video {
    margin: 50px 0 20px;
    background: url('buttons/videos.png') no-repeat center center;
	background-size: cover;
    height: 40px;
    width: 130px;	
}
.about {
	margin: 50px 0 20px;
    background: url('buttons/about.png') no-repeat center center;
	background-size: cover;
    height: 40px;
    width: 130px;	
}

.video-container {
    /*flex: 1;
    max-width: 50%;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;*/
    background: #000;
    margin: 20px 0;
	width: 640px;
	height: 320px;
}

iframe {
	width: 640px;
	height: 320px;
}

.main_text {
    margin: 50px 0 50px 50px;
    width: 700px;
}

.about_text {
    margin-bottom: 50px;
    margin-left: 50px;
    width: 1800px;
    display: flex;
    flex-wrap: wrap;
}

.start_button {
    margin-top: 20px;
    display: inline-block;
}

.light_rounded {
    font-family: 'NewEdge666-UltraLightRounded', sans-serif;
}

main {
    min-height: 900px;
	/*height: auto;*/
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#container {
    text-align: center;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.text-container, .image-container {
    flex: 1;
    max-width: 300px;
    text-align: center;
}

.image-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.main-text {
    margin: 50px 0;
    text-align: center;
}

#next_container {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust as necessary */
}

.variable_div {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variable_image {
    max-width: 100%; /* Ensures the image does not exceed the div's max-width */
    height: 45px; /* Maintains the aspect ratio */
    margin-top: 14px;
}

.circle {
    width: 40px; /* Width of the circle */
    height: 40px; /* Height of the circle */
    background-color: #D0D2D3; /* Background color of the circle */
    border-radius: 50%; /* Make the div a circle */
    display: flex; /* Use flexbox to center the text */
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    font-size: 16px; /* Font size of the text */
    text-align: center; /* Center align the text */    
    margin-top: 20px;
}

.placeholder {
	width: 100px;
	height: auto;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
}

.custom-input {
    width: 85%; /* 85% width */
    border: none; /* Remove default border */
    border-bottom: 2px solid #D0D2D3; /* Add grey line at the bottom */
    padding: 10px 0; /* Add some padding for spacing */
    font-size: 16px; /* Adjust font size */
    outline: none; /* Remove outline on focus */
    background-color: transparent; /* Ensure the background is transparent */
    text-align: center; /* Center-align the text including placeholder */
}

.custom-input::placeholder {
    color: #D0D2D3; /* Placeholder text color */
    opacity: 1; /* Make sure the placeholder is fully visible */
    text-align: center; /* Center-align the placeholder text */
}

.next_button {
    cursor: pointer;
    width: 100px;
    height: auto;
    padding-top: 10px;    
}

.ai_image {
    width: 300px;
    height: 300px;
    margin: 10px;
	display: block;
}

.ai_image_main {
    width: 300px;
    height: 300px;
    margin: 10px;
}

.outlined {
    margin-bottom: 25px;
    border: 3px solid #0074FF;
    border-radius: 20px;
    padding: 20px;
    display: inline-block;
    color: #0074FF;
    width: 250px;
}

.outlined_answer {
    border: 3px solid #0074FF;
    border-radius: 20px;
    background-color: #0074FF;
    padding: 20px;
    display: inline-block;
    color: white;
    width: 250px;
    position: absolute; /* Position the text absolutely within the container */
    
    margin-left: 10px;
    transform: translateX(-50%); /* Center the text horizontally */
}

.lifted {
	margin-top: -50px;
}

.percentage-bar {
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  background-color: #D0D2D3;
  border-radius: 20px; /* Rounded corners */
  overflow: hidden; /* Ensures rounded corners clip the filled bar */
  position: relative; /* Establish positioning context */
  margin: 10px 0; /* Vertical spacing */
  min-width: 200px;
  min-height: 64px;
  text-align: center; /* Center the text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.filled-bar {
  height: 100%;
  background-color: #0074FF; /* Filled bar color */
  border-radius: 20px 0 0 20px; /* Rounded corners for the filled part */
  position: absolute;
  top: 0;
  left: 0;
}

.pollAnswer {
  position: relative; /* Position text within the container */
  z-index: 1; /* Ensure text appears above the filled bar */  
}

.score {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 300px;
	/*background-image: url('images/your_score.png') no-repeat center center;    
    padding-top: 200px;
	margin-left: 100px;*/
}

.score2 {
	position: absolute;
	top: 300px;
	left: 100px;
    width: 300px;
	/*padding-top: 40px;
	margin-left: 100px;*/
}

.score_card {
	position: absolute;
	/*margin-left: -800px;
	margin-top: -35px;*/
	top: 252px;
	left: 340px;
	font-size: 27px;
}

.next_button_quiz {
    position: absolute;
	cursor: pointer;
    width: 100px;
	/*padding-bottom: 50px;*/
	top: 600px;
	left: 500px;
}

.circle_container {
	width: 40px;
	display: flex;
	flex-direction: column;
	align-items: center; /* Horizontally center the circle */
	justify-content: flex-end; /* Ensure the flex container uses all available height */
	height: 300px; /* Make sure the container takes the full height */
}

.progress_image {
	display: flex; /* Use flexbox to center the text */
	align-items: center; /* Vertically center the text */
	justify-content: center; /* Horizontally center the text */
	font-size: 16px; /* Font size of the text */
	text-align: center; /* Center align the text */
	margin-top: 150px; /* Push the circle to the bottom */
}



.blue {
    color: #0074FF;
}

.grey {
    color: #D0D2D3;
}

.logo {
    width: 200px;
}

footer {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.footer {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

/* Mobile Styles */
@media (max-width: 600px) {
    header {
        height: 10%;
        padding: 10px;
		width: 100%;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
		width: 100%;
    }
	
	.menu-items {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }

    .menu {
        margin: 5px;
		display: none;
    }

    .align-right {
        align-self: center;
    }
	
	.home_header {
		background: url('images/header_back_mobile.png') no-repeat center center;
		background-size: cover;
		height: 100px;
		
	}
	
	.ready_to_go {
		margin-left: 20px;
		height: 70px;
		width: 285px;
	}
	
	.main_text {
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 85%;
	}
	
	.main-text {
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 85%;
	}
	
	.ai_image_main {
        width: 35%;
        height: 35%;
        margin: 10px;
    }
	
	.content-wrapper {
        flex-direction: column-reverse; /* Reverse the order of flex items */
        align-items: center;
    }

    .text-container, .image-container {
        width: 75%;
    }
	
	.score {
		top: 75px;
		left: 25px;
	}
	
	.score2 {
		top: 190px;
		left: 25px;
	}
	
	.next_button_quiz {
		top: 450px;
		left: 250px;
		
	}
	
	.score_card {
		top: 130px;
		left: 250px;
	}
	
	
	
	.main_text_quiz {
		margin-top: 0;
		margin-left: 0;
		position: relative;
	}
	
	.about_text {
		margin-left: 20px;
		width: 85%;
	}
	
	.video-container {
		width: 320px;
		height: 160px;
	}

	iframe {
		width: 320px;
		height: 160px;
	}    



    .start_button {
        display: inline-block;
        margin: 20px auto;
    }
}
